openapi: 3.0.3
info:
  title: Event Service API
  version: 1.0.0
  description: API for managing and processing events.
servers:
  - url: https://api.eventservice.com/v1
    description: Event Service API

paths:
  /events:
    post:
      summary: Receive and process events
      operationId: receiveEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventType'
      responses:
        '200':
          description: Event received successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessingResponse'
        '400':
          description: Invalid event payload

components:
  schemas:
    EventType:
      type: object
      required:
        - eventId
        - eventType
        - timestamp
      properties:
        eventId:
          type: string
          description: Unique ID for the event
        eventType:
          type: string
          description: The type of event (e.g., CartItemAdded, OrderCompleted)
        timestamp:
          type: string
          format: date-time
          description: Timestamp of when the event occurred
        data:
          type: object
          description: The event payload, varying based on the eventType
        source:
          type: string
          description: Source service or system that raised the event

    ProcessingResponse:
      type: object
      properties:
        status:
          type: string
          description: Status of event processing (e.g., success, failure)
        message:
          type: string
          description: Any additional details about the event processing
